
body {
	font-family: -apple-system,Roboto,"Segoe UI",Helvetica,Arial,sans-serif;
	background-color: #333333;
	text-align: center;
	margin: 64px 128px;
	color: #e7e8ea;
}

a {
	color: #e7e8ea;
}

text {
	fill: #e7e8ea;
}

.hidden {
	display: none;
}

@media only screen and (max-width:640px) {
	body {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.progress .one {
	opacity: 0;
	-webkit-animation: dot 1.3s infinite;
	-webkit-animation-delay: 0.0s;
	animation: dot 1.3s infinite;
	animation-delay: 0.0s;
}
.progress .two {
	opacity: 0;
	-webkit-animation: dot 1.3s infinite;
	-webkit-animation-delay: 0.2s;
	animation: dot 1.3s infinite;
	animation-delay: 0.2s;
}
.progress .three {
	opacity: 0;
	-webkit-animation: dot 1.3s infinite;
	-webkit-animation-delay: 0.3s;
	animation: dot 1.3s infinite;
	animation-delay: 0.3s;
}
@-webkit-keyframes dot {
		0% { opacity: 0; }
	 50% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes dot {
		0% { opacity: 0; }
	 50% { opacity: 0; }
	100% { opacity: 1; }
}
